In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importing training dataset
df = pd.read_csv('train.csv')

In [3]:
# Importing test dataset
df_test = pd.read_csv('test.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          215 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# Checking and Filling missing values

In [6]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          676
Embarked         2
dtype: int64

In [7]:
df_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          322
Embarked         0
dtype: int64

In [8]:
# Filling NaNs
df['Embarked'].fillna('S', inplace=True)
df_test['Fare'].fillna(25, inplace=True)

# Data Engineering

In [9]:
titles = ['Miss', 'Mr', 'Mrs', 'Master', 'Dona', 'Don', 'Ms', 'Rev', 'Dr', 'Col', 'Capt', 'Countess', 'Jonkheer', 'Major', 
          'Mme', 'Mlle']

In [10]:
# Extracting title from name
df['Title'] = 'Unknown'
for i in range(0, df.shape[0]):
    for j in range(0, len(titles)):
        if titles[j] in df['Name'][i]:
            df['Title'][i] = titles[j]
        else:
            continue

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df.replace(('Mlle','Ms'), 'Miss', inplace=True)
df.replace('Mme', 'Mrs', inplace=True)
#df.replace(('Capt', 'Countess', 'Don', 'Jonkheer', 'Major', 'Rev'), 'Other', inplace=True)

In [12]:
# Extracting title from name
df_test['Title'] = 'Unknown'
for i in range(0, df_test.shape[0]):
    for j in range(0, len(titles)):
        if titles[j] in df_test['Name'][i]:
            df_test['Title'][i] = titles[j]
        else:
            continue

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
df_test.replace('Ms', 'Miss', inplace=True)
#df_test.replace(('Don', 'Rev'), 'Other', inplace=True)

In [14]:
# Extracting the deck from cabin number
df['Deck'] = np.nan
for i in range(0, df.shape[0]):
    if not pd.isnull(df['Cabin'][i]):
        df['Deck'][i] = df['Cabin'][i][0]
        
df_test['Deck'] = np.nan
for i in range(0, df_test.shape[0]):
    if not pd.isnull(df_test['Cabin'][i]):
        df_test['Deck'][i] = df_test['Cabin'][i][0]

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
D:\Anaconda\lib\site-packages\pandas\core\indexing.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [15]:
# Dropping not necessary columns. Criteria: intuition and common sense.
df.drop(['Name', 'Cabin'], axis=1, inplace=True)
df_test.drop(['Name', 'Cabin'], axis=1, inplace=True)

In [16]:
# Getting list of categorical columns
categorical_cols = df.columns.groupby(df.dtypes == 'object')[1]
#categorical_cols = categorical_cols.delete(-1)
categorical_cols = categorical_cols.delete(1)

In [17]:
categorical_cols

Index(['Sex', 'Embarked', 'Title', 'Deck'], dtype='object')

In [18]:
# Ticket encoding
df_age = pd.merge(df, df_test, how='outer')

from sklearn.preprocessing import LabelEncoder

labelencoder_ticket = LabelEncoder()
labelencoder_ticket.fit(df_age['Ticket'].astype(str))
df['Ticket'] = labelencoder_ticket.transform(df['Ticket'].astype(str))
df_test['Ticket'] = labelencoder_ticket.transform(df_test['Ticket'].astype(str))

del df_age

In [19]:
from sklearn.preprocessing import LabelEncoder
for i in range(0, len(categorical_cols)):
    labelencoder_X = LabelEncoder()
    df[categorical_cols[i]] = labelencoder_X.fit_transform(df[categorical_cols[i]].astype(str))
    df_test[categorical_cols[i]] = labelencoder_X.transform(df_test[categorical_cols[i]].astype(str))
    del labelencoder_X

# Missing values

In [20]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
Title            0
Deck             0
dtype: int64

In [21]:
df_test.isna().sum()

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            0
Embarked        0
Title           0
Deck            0
dtype: int64

In [22]:
# New df for further regression
df_age = pd.merge(df, df_test, how='outer')
df_age = df_age[['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked',
                 'Title']]  #, 'Let_ticket', 'Cabin_number', 'Num_ticket'

In [23]:
# Arranging datasets by existence of 'Age' value
train_set = df_age[df_age['Age'].notnull()]
test_set  = df_age[df_age['Age'].isnull()]

# Arranging X-training and X-testing datasets
X_train = train_set.drop('Age', axis=1)
X_test  = test_set.drop('Age', axis=1)

# Arranging y-training datasets
y_train = train_set['Age']

In [24]:
# Regression model
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 300, random_state = 123)
regressor.fit(X_train, y_train)

# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [25]:
# Indroduction of predicted data to the main dataset 'df'
y_pred = pd.DataFrame(y_pred)
y_pred = round(y_pred, 0)
y_pred.columns = ['Age']

In [26]:
temp_id = pd.DataFrame(X_test.index)
temp_id.columns = ['temp_id']

y_pred = pd.concat([y_pred, temp_id], axis=1)
y_pred.set_index(['temp_id'], inplace=True)

df_pred = pd.concat([X_test, y_pred], axis=1)
df_pred.head()

    PassengerId  Pclass  Sex  SibSp  Parch     Fare  Embarked  Title   Age
5             6       3    1      0      0   8.4583         1      9  36.0
17           18       2    1      0      0  13.0000         2      9  41.0
19           20       3    0      0      0   7.2250         0     10  35.0
26           27       3    1      0      0   7.2250         0      9  31.0
28           29       3    0      0      0   7.8792         1      8  17.0

In [27]:
# Filling the missing cells with age
df_pred_ind = list(df_pred.index)
for i in range(0, df.shape[0]):
    for j in df_pred_ind:
        if (np.isnan(df['Age'][i])) and (df['PassengerId'][i] == df_pred['PassengerId'][j]):
            df['Age'][i] = df_pred['Age'][j]

for i in range(0, df_test.shape[0]):
    for j in df_pred_ind:
        if (np.isnan(df_test['Age'][i])) and (df_test['PassengerId'][i] == df_pred['PassengerId'][j]):
            df_test['Age'][i] = df_pred['Age'][j]

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [28]:
df.head(6)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Title,Deck
0,1,0,3,1,22.0,1,0,720,7.2500,2,9,8
1,2,1,1,0,38.0,1,0,816,71.2833,0,10,2
2,3,1,3,0,26.0,0,0,914,7.9250,2,8,8
3,4,1,1,0,35.0,1,0,65,53.1000,2,10,2
4,5,0,3,1,35.0,0,0,649,8.0500,2,9,8
5,6,0,3,1,36.0,0,0,373,8.4583,1,9,8

In [29]:
df['Deck'].replace(8,np.nan, inplace=True)
df_test['Deck'].replace(8,np.nan, inplace=True)

In [30]:
# Deck filling empty cells
df_deck = pd.merge(df, df_test, how='outer')
df_deck = df_deck[['PassengerId', 'Pclass', 'Fare', 'Ticket', 'Embarked', 'Deck']]

In [31]:
# Arranging datasets by existence of 'Deck' value
train_set = df_deck[df_deck['Deck'].notnull()]
test_set  = df_deck[df_deck['Deck'].isnull()]

# Arranging X-training and X-testing datasets
X_train = train_set.drop('Deck', axis=1)
X_test  = test_set.drop('Deck', axis=1)

# Arranging y-training datasets
y_train = train_set['Deck']

In [32]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(criterion = 'gini', random_state = 123)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [33]:
# Indroduction of predicted data to the main dataset 'df'
y_pred = pd.DataFrame(y_pred)
y_pred = round(y_pred, 0)
y_pred.columns = ['Deck']

In [34]:
temp_id = pd.DataFrame(X_test.index)
temp_id.columns = ['temp_id']

y_pred = pd.concat([y_pred, temp_id], axis=1)
y_pred.set_index(['temp_id'], inplace=True)

df_pred = pd.concat([X_test, y_pred], axis=1)
df_pred.head()

   PassengerId  Pclass     Fare  Ticket  Embarked  Deck
0            1       3   7.2500     720         2   5.0
2            3       3   7.9250     914         2   4.0
4            5       3   8.0500     649         2   5.0
5            6       3   8.4583     373         1   5.0
7            8       3  21.0750     541         2   5.0

In [35]:
# Filling the missing cells with deck
df_pred_ind = list(df_pred.index)
for i in range(0, df.shape[0]):
    for j in df_pred_ind:
        if (np.isnan(df['Deck'][i])) and (df['PassengerId'][i] == df_pred['PassengerId'][j]):
            df['Deck'][i] = df_pred['Deck'][j]

for i in range(0, df_test.shape[0]):
    for j in df_pred_ind:
        if (np.isnan(df_test['Deck'][i])) and (df_test['PassengerId'][i] == df_pred['PassengerId'][j]):
            df_test['Deck'][i] = df_pred['Deck'][j]

In [36]:
df_test['Deck'] = df_test['Deck']

# Main model

In [37]:
# Defining DV and IV
X = df.drop(['Survived'], axis=1)
y = df['Survived']

In [38]:
# Splitting the dataset into the Training set and Test set
X_train = X.copy()
y_train = y.copy()
X_test = df_test.copy()

In [39]:
# Importing classifier
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(criterion = 'gini', random_state = 123)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [40]:
y_ind = pd.DataFrame(df_test['PassengerId'], index=None)
y_pred = pd.DataFrame(y_pred).astype(int)
y_ind = pd.DataFrame(y_ind)
result = pd.concat([y_ind, y_pred], axis=1)
result.columns = ['PassengerId','Survived']
result.set_index(['PassengerId'], inplace=True)
result.head()

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 0

In [41]:
# Writing to CSV file
result.to_csv(r'submission.csv')